# The following is a binder for some basic useful operations in Python

The point of this notebook/binder is to introduce some key concepts in working with code for science. It is structured as an actual data analysus notebook might be.

Lesson 1 : making folders

Lesson 2: some basic statistics

## Lesson 1

In [1]:

# import libraries
import os
import shutil
import numpy as np
import pandas as pd

In [3]:
# here we will show an alternative way to make folders (not bash but python)
#substitute in your user directory instead of cmmoore
os.mkdir('C:/users/cmmoore/to_be_erased')

In [4]:
# here we will put in the whole tree in a for-loop
for i in range(0, 6):
    end = (str("directory_" + str(i)))
    os.mkdir(os.path.join('C:/users/cmmoore/to_be_erased', end))

In [5]:
# here we will take down the whole folder gree
shutil.rmtree('C:/users/cmmoore/to_be_erased')

# Lesson 2

Here I will show how descriptive statsistics can be easy as one liners of code

Below we will make a fake dataset

In [9]:

# sample data for 5 subjects
data = {
    'participant_id': [101, 102, 103, 104, 105, 106, 107],
    'Arm_Left_Volume_cm3': [1500, 1600, 1580, 1550, 1620, 1123, 1123],
    'Arm_Right_Volume_cm3': [1520, 1610, 1575, 1560, 1600, 1333, 1333],
    'Leg_Left_Volume_cm3': [7500, 7700, 7600, 7650, 7800, 1222, 7888],
    'Leg_Right_Volume_cm3': [7550, 7680, 7580, 7700, 7850, 7890,5678],
    'Thigh_Left_Volume_cm3': [3000, 3100, 3050, 3080, 3150, 5567,3213],
    'Thigh_Right_Volume_cm3': [3020, 3090, 3060, 3070, 3140, 2343, 3454],
}

# make a ataFrame
df = pd.DataFrame(data)

# display top 2 lines of dataFrame
df.head(2)

,participant_id,Arm_Left_Volume_cm3,Arm_Right_Volume_cm3,Leg_Left_Volume_cm3,Leg_Right_Volume_cm3,Thigh_Left_Volume_cm3,Thigh_Right_Volume_cm3
0,101,1500,1520,7500,7550,3000,3020
1,102,1600,1610,7700,7680,3100,3090

In [10]:
df.describe()

,participant_id,Arm_Left_Volume_cm3,Arm_Right_Volume_cm3,Leg_Left_Volume_cm3,Leg_Right_Volume_cm3,Thigh_Left_Volume_cm3,Thigh_Right_Volume_cm3
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,104.000000,1442.285714,1504.428571,6765.714286,7418.285714,3451.428571,3025.285714
std,2.160247,221.450306,120.668771,2447.859590,777.693537,935.391515,334.138052
min,101.000000,1123.000000,1333.000000,1222.000000,5678.000000,3000.000000,2343.000000
25%,102.500000,1311.500000,1426.500000,7550.000000,7565.000000,3065.000000,3040.000000
50%,104.000000,1550.000000,1560.000000,7650.000000,7680.000000,3100.000000,3070.000000
75%,105.500000,1590.000000,1587.500000,7750.000000,7775.000000,3181.500000,3115.000000
max,107.000000,1620.000000,1610.000000,7888.000000,7890.000000,5567.000000,3454.000000

In [11]:
df.corr(method='spearman')

,participant_id,Arm_Left_Volume_cm3,Arm_Right_Volume_cm3,Leg_Left_Volume_cm3,Leg_Right_Volume_cm3,Thigh_Left_Volume_cm3,Thigh_Right_Volume_cm3
participant_id,1.000000,-0.414431,-0.522544,0.357143,0.214286,0.857143,0.357143
Arm_Left_Volume_cm3,-0.414431,1.000000,0.963636,0.324337,0.252262,-0.306319,0.324337
Arm_Right_Volume_cm3,-0.522544,0.963636,1.000000,0.288300,0.180187,-0.342356,0.288300
Leg_Left_Volume_cm3,0.357143,0.324337,0.288300,1.000000,-0.321429,0.250000,1.000000
Leg_Right_Volume_cm3,0.214286,0.252262,0.180187,-0.321429,1.000000,0.428571,-0.321429
Thigh_Left_Volume_cm3,0.857143,-0.306319,-0.342356,0.250000,0.428571,1.000000,0.250000
Thigh_Right_Volume_cm3,0.357143,0.324337,0.288300,1.000000,-0.321429,0.250000,1.000000

But what if I didn't know the methods? ANd am to lazy to read the whole documentation?

In [12]:
df.corr?

Signature:
df.corr(
    method: 'CorrelationMethod' = 'pearson',
    min_periods: 'int' = 1,
    numeric_only: 'bool' = False,
) -> 'DataFrame'
Docstring:
Compute pairwise correlation of columns, excluding NA/null values.

Parameters
----------
method : {'pearson', 'kendall', 'spearman'} or callable
    Method of correlation:

    * pearson : standard correlation coefficient
    * kendall : Kendall Tau correlation coefficient
    * spearman : Spearman rank correlation
    * callable: callable with input two 1d ndarrays
        and returning a float. Note that the returned matrix from corr
        will have 1 along the diagonals and will be symmetric
        regardless of the callable's behavior.
min_periods : int, optional
    Minimum number of observations required per pair of columns
    to have a valid result. Currently only available for Pearson
    and Spearman correlation.
numeric_only : bool, default False
    Include only `float`, `int` or `boolean` data.

    .. versionadded:: 1.5.0

    .. versionchanged:: 2.0.0
        The default value of ``numeric_only`` is now ``False``.

Returns
-------
DataFrame
    Correlation matrix.

See Also
--------
DataFrame.corrwith : Compute pairwise correlation with another
    DataFrame or Series.
Series.corr : Compute the correlation between two Series.

Notes
-----
Pearson, Kendall and Spearman correlation are currently computed using pairwise complete observations.

* `Pearson correlation coefficient <https://en.wikipedia.org/wiki/Pearson_correlation_coefficient>`_
* `Kendall rank correlation coefficient <https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient>`_
* `Spearman's rank correlation coefficient <https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient>`_

Examples
--------
>>> def histogram_intersection(a, b):
...     v = np.minimum(a, b).sum().round(decimals=1)
...     return v
>>> df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
...                   columns=['dogs', 'cats'])
>>> df.corr(method=histogram_intersection)
      dogs  cats
dogs   1.0   0.3
cats   0.3   1.0

>>> df = pd.DataFrame([(1, 1), (2, np.nan), (np.nan, 3), (4, 4)],
...                   columns=['dogs', 'cats'])
>>> df.corr(min_periods=3)
      dogs  cats
dogs   1.0   NaN
cats   NaN   1.0
File:      c:\users\cmmoore\appdata\local\anaconda3\envs\muscle\lib\site-packages\pandas\core\frame.py
Type:      method